html {
    background-color: #242121;
}
html, body, body div, form, input, button, textarea {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 1.1rem;
    vertical-align: baseline;
    box-sizing: border-box;
    font-family: sans-serif;
}
h1 {
    line-height: 20px;
}
form {
    text-align: left;
    width: 100%;
}
input, textarea {
    border-radius: 5px;
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    background-color: #333;
    color: #EDF5E1;
    border: 0px;
}
button {
    margin-top: 10px;
    border-radius: 5px;
    width: 100%;
    padding: 10px;
    background-color: rgb(240, 63, 71);
    color: #EDF5E1;
    border: 0px;
    font-size: 1.2rem;
    text-transform: uppercase;
}
body {
    margin: 0;
    padding: 0;
}
.full-page {
    width: 100%;
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    position: relative;
    min-height: 100VH;
}
.container {
    padding: 20px 20px;
    max-width: 600px;
    margin: auto;
    text-align: center;
    min-height: 70vh;
    position: relative;
}
main {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
}
.main-footer {
    position: absolute;
    bottom: 0px;
}
.language {
    list-style-type: none;
}
.language li {
    display: inline;
}
.language li a {
    text-decoration: none;
    margin-right: 10px;
    color: #fff;
    text-transform: uppercase;
}
.heading {
    color: #EDF5E1;
    font-size: 4rem;
    text-align: left;
}
.bodytext {
    color: #EDF5E1;
    font-weight: 500;
    text-align: left;
    line-height: 1.5rem;
}
h1, h2 {
    line-height: 3rem !important;
}
.site-title {
    font-size: 2rem;
    color: rgb(240, 63, 71);
    font-weight: 700;
}
.nav-bar {
    padding: 20px 20px;
    background-color: #242121;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

}
.nav-links {
    display: flex;
    list-style: none;
    padding-left: 0;
}
.nav-link-item {
    padding-right: 2rem;
}
.nav-link-text {
    color: #EDF5E1;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 600;
    font-size: .9rem;
    letter-spacing: 1px;
}
.error {
    color: rgb(240, 63, 71);
}